<div class="row">
    <div *ngFor="let sub of subject | paginate: { itemsPerPage: sodong, currentPage: sotrang}" class="col-6"
        style="float: left;margin: 20px 0">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/logos/{{sub.Logo}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{sub.Id}}</h5>
                <a href="#" class="btn btn-primary">{{sub.Name}}</a>

            </div>
        </div>
    </div>
</div>
<div>
    <button class="nutlui" (click)="luitrang()"><i class='fas fa-arrow-left'
            style='font-size:30px;color:chocolate'></i></button>
    <button class="nuttoi" (click)="quatrang()"><i class='fas fa-arrow-right'
            style='font-size:30px;color:chocolate'></i></button>
</div>