<div class="alert alert-info" role="alert">
    <div class="form-group">
        <label for="exampleInputPassword1">Tên</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Tuấn cute">
    </div>
    <form>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Nội dung góp ý</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
    <button type="submit" class="btn btn-primary">Gửi</button>
</div>